body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #efefef;
}
a {
    text-decoration: none;
    color: #000
}
a:hover {
    color: #e6a563;
}
header {
    margin: 0;
    width: 96%;
}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
nav {
    background-color: #efefef;
    padding: 5px;
}
nav img {
    width: 250px;
}
nav ul {
    list-style-type: none;
}

.nav1 ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:1em;
    margin-left: 0;
}
.nav1 li:first-child{
    margin-right: auto;
}

.hero {
    display:flex;
    background-color: #FFCF83;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin: 0;
}

.hero img {
    height: 150px;
    padding: 30px 50px;
}

.hero-child1 {
    padding: 0 50px;
    width: 60%;
    margin-right: auto;
}

.features {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap: 2em;
    padding-bottom: 25px;
}
.features h2 {
    width:100%;
    text-align: center;
    margin-top: 30px;
}
.features-block1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    margin-top: 0;

    a {
        color: #e6a563;
    }
}
.features-block1 img {
    width:80%;
}

.testimonials {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap: 2em;
    background-color: #222e50;
    padding-bottom: 30px;
}
.testimonials h2 {
    width:100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    color:#fff;
}
.testimonials-block1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    width: 300px;
    height: 120px;;
    padding: 20px;
    margin-top: 0;
    text-align: start;
}

.team {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap: 2em;
    padding-bottom: 50px;
}
.team h2 {
    width:100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom:0;
}

.team-block1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    padding: 20px;
    margin-top: 0;
}

.team-block1 img {
    width:60%;
}

footer {
    /* height: 200px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 20px;
    background-color: darkgray;
}
footer p {
    line-height: 1.3;
    text-align: center;
}
.contactUs {
    display:flex;
    /* outline: 1px solid red; */
    margin: 0;
}
.contactUs img {
    width: 50px;
}
